@use "sass:math";
@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: $base-size;

    span {
        margin-left: $base-size;
    }
}

@media (max-width: 767px) {
    .columnForm {
        flex-direction: column;
        padding: $base-size ($base-size * 4);
        align-items: stretch;

        span {
            margin: 0 0 math.div($base-size, 2) 0;
            text-align: center;
        }
    }
}